<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/pho_images/phoimg_icones/favicon.ico" />
    <title>@ViewBag.Title - PhotoCloud</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- Page wraper -->
        <div id="page-wrapper">
            <!-- Top Navbar -->
            <div class="row border-bottom" role="navigation">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="navbar-header">
                        <a class="navbar-logo" href="/Home"></a>
                    </div>
                    @Html.Partial("_LoginPartial")
                </nav>
            </div>
            <!-- Main view  -->
            <div class="container-fluid body-content  bodybackground">
                <div class=" col-md-12">
                    @RenderBody()
                </div>
            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="text-center">
                    <p class="text-muted"><strong>Copyright</strong> Clayton Gandraº © 2015 </p>
                </div>
            </footer>
        </div><!-- End page wrapper-->
    </div><!-- End wrapper-->
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>

        $(document).ready(function () {
 
            var vjsAlturaJanela = $(window).height();
            var vjsAlturaTopo = $(".navbar-fixed-top").height();
            var vjsAlturaCorpo = $(".body-content").height();
            var vjsAlturaRodaPe = $(".footer").height();
            var vjsAlturaFinalCorpo = (vjsAlturaJanela - vjsAlturaTopo - vjsAlturaRodaPe - 21);

            //alert("vjsAlturaJanela: " + vjsAlturaJanela);
            //alert("vjsAlturaTopo: " + vjsAlturaTopo);
            //alert("vjsAlturaCorpo: " + vjsAlturaCorpo);
            //alert("vjsAlturaRodaPe: " + vjsAlturaRodaPe);

            //alert("AlturaFinal: " + vjsAlturaFinalCorpo);
            if (vjsAlturaCorpo < vjsAlturaFinalCorpo) {
                $(".body-content").height(vjsAlturaFinalCorpo)
            }
            
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
